.adminContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 56rem;
  width: 100%;
}

.title {
  font-size: 2.5rem !important;
  font-weight: 600 !important;
  margin: 1rem 0 0 0 !important;
}

.subtitle {
  font-size: 1.25rem !important;
  margin: 1rem 0 2rem 0 !important;
}

.adminCardContainer {
  justify-content: center;
  align-items: center;
}

.adminCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: 350px;
  border-radius: 1rem !important;
}

.adminCardButton:focus {
  outline: none !important;
}
