.footerContainer {
  background-color: var(--background-color);
  color: var(--primary-color);

  box-shadow:
    0 0 0 0 #0000,
    0 0 0 0 #0000,
    0 -16px 32px -16px rgba(0, 0, 0, 0.1),
    0 0 0 1px hsla(0, 0%, 100%, 0.05);
}

.footer {
  display: flex;
  align-items: center;
  margin: auto;
  height: 8rem;
  width: 100%;
  max-width: 56rem;

  padding: 0 1.75rem;
  gap: 1rem;
}

.logoLink {
  display: flex;
}
