.container {
  position: sticky;
  top: 0;
  z-index: 40;
  background-color: var(--background-color);
  color: var(--primary-color);
  box-shadow:
    0 0 0 0 #0000,
    0 0 0 0 #0000,
    0 16px 32px -16px rgba(0, 0, 0, 0.1),
    0 0 0 1px hsla(0, 0%, 100%, 0.05);
}

.nav {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;

  padding: 0 1.75rem;
  gap: 1rem;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.linkText {
  padding: 0.6rem 0.75rem;
  border-radius: 9999px;
}

.linkText:hover {
  background-color: rgba(246, 247, 249, 0.05);
}

.githubLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
}

.githubLink:hover {
  border-radius: 9999px;
  background-color: rgba(246, 247, 249, 0.05);
}

.logo {
  height: 38.4px;
  width: 42.675px;
}

.github {
}

.logoText {
  margin-left: 1rem !important;
}
