.pokemonCard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}

.name {
  text-align: center;
}

.typeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
